/* --- SPECIFIC FOR STAR WARS -- */

#header {
    position: absolute;
    width: 550px;
    text-align: center;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}


h1 {
    animation: fadeOut 4s;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 5s;
    color: white;
    font-size: 100px;
}


@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}



img {
    animation: zoomOut 4s;
    animation-fill-mode: both;
    animation-delay: 5s;
    animation-duration: 5s;
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;

    
}


@keyframes zoomOut {
   0% {
       opacity: 0;
   }
   50% {
       opacity: 100;
       transform: scale(1);
   }
   100% {
       opacity: 0;
       transform: scale(0.01);
   }
}


/* text and animation */
#container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    top: -10px;
    perspective: 500px;
}


article {
    color: yellow;
    font-size: 300%;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: justify;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(40deg);
    animation: article 100s linear;
    animation-delay: 10s;
    opacity: 0;
}


@keyframes article {
    0% {
        opacity: 1;
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -5000px;
        transform: rotateX(25deg) translateZ(-2500px)
    }
}